html {
  font-family: Arial;
}

header {
  text-align: center;
  border-bottom: 5px, black, solid;
}

.topnav {
  width: 100%;
  background-color: bisque;
  position: fixed;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 12px;
  font-size: 20pt;
}

.topnav a.active {
  font-weight: bold;
}

.projectgrid {
  margin-top: 40px;
  background-color: aqua;
  clear: both;
}
